.box {
    background-color: white;
    border-radius: 15px;
    align-items: center;
    padding: 15px;
    display: flex;
    font-size: medium;
    color: black;
}


.search-box {
    height: 1.5rem;
    margin-bottom: 10px;
}

.filter-box {
    min-height: 1rem;
    justify-content: space-between;
    margin-bottom: 5px;

}

input {
    border: none;
    background-color: transparent;
    font-size: medium;
    width: 100%;
}

input:focus {
    outline: none;
}

.icon {
    margin: 5px;
    color: grey;
}

.filters {
    min-height: 5rem;
    display: block;
    text-align: left;
}

.filter {
    margin-bottom: 10px;
    font-size: medium;
}

.select {
    width: 150px;
    color: black;
    margin-left: 5px;
    border-radius: 5px;
    border: grey 0.5px solid;
    height: 1.5rem;
}